<!DOCTYPE html>
<html>
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <main>
		<div class="container" >
            <div class="row">
				<div class="col">
                    <h2 class="encabezado">Agregar Aplicación</h2>     
					
                    <form action="/apps/create" method="POST" class="form-crear">
                        <div class="form-group">
                            <label for="name">Nombre</label>
                            <input type="text" class="form-control" id="name" name="name">
                          </div>
						<div class="form-group">
						  <label for="category" >Categoría</label>
						  <div>
                            <select name="category">
                                <% for(i = 0; i < categorias.length; i++){ %>
                                    <option value="<%= categorias[i].id %>" id="category" name="category" >
                                        <%= categorias[i].name %>
                                    </option>
                                <% } %>
                              </select>
                          </div>
						</div>
						<div class="form-group">
							<label for="description">Descripción</label>
							<textarea class="form-control" id="description" name="description"></textarea>
						</div>
						<div class="form-group">
							<label for="price">Precio</label>
							<input class="form-control" id="price" name="price">
						</div>
						<div class="form-group">
							<label for="image_url">Ingrese la URL de la imagen</label>
						<input type="text" name="image_url" id="image_url"class="form-control">
						</div><br>
						
						<button type="submit" class="btn btn-primary">Guardar</button>
						
					  </form>

				</div>
	    	</div>
		</div>          
        </main>
        <hr>
        <%- include('../partials/scripts.ejs') %>  
    </body>
</html>