<!DOCTYPE html>
<html>
    
    <%- include('../partials/head.ejs') %>
    
    <body>
        <%- include('../partials/header.ejs') %>
        <div class="container-fluid">
            <section class="row">
                <div class="col-12" id="banner">
                    <h3> Precio: $<%=  application.price  %></h3>  
                </div>
            </section>
            <section class="row">
                <div class="productos">
                        <article class="col-6" id="art2">
                            <h1><%=  application.name  %></h1>
                            <p class="description">Descripción: <%=  application.description  %></p>
                            <% if(isAuthenticated) { %>  
                                <% let count = 0 %>
                                <% for(let i = 0; i < application.usuarios.length; i++){ %>
                                    <% if(application.usuarios[i].id == user.id){ %>
                                        <%count = count + 1;%>
                                    <% } %>
                                <% } %>
                                <% if( count != 0){ %>
                                    <button class="btn btn-outline-success" style="background-color:  #008000; color: white;" >Instalada</button>
                                <% }else{ %>
                                    <form action="/apps/order/<%=application.id%>" method="POST">
                                        <button type="submit" class="btn btn-outline-success" style="background-color:  #008000; color: white;">Comprar</button>
                                    </form>
                                <% } %>
                            <% }else{ %>
                                <form action="/apps/order/<%=application.id%>" method="POST">
                                    <button type="submit" class="btn btn-outline-success" style="background-color:  #008000; color: white;">Comprar</button>
                                </form>
                            <% } %>
                            
                        </article>
                        <article class="col-6" id="art3">
                            <img src="/uploads/<%= application.image_url %>" alt="<%= application.name %>">
                        </article>
                </div>
            </section> <br>
        </div>
        <%- include('../partials/scripts.ejs') %>
    </body>
    </html>
</html>