<!DOCTYPE html>
<html>
  <%- include('partials/head.ejs') %>
  <body>
  <%- include('partials/header.ejs') %>
  <div class="row">
    
      <div class="btn-group-vertical col-sm-2">
          <button type="button" class="btn btn-outline-success">Apps</button>
          <button type="button" class="btn btn-outline-danger">Películas</button>
          <button type="button" class="btn btn-outline-warning">Música</button>
          <button type="button" class="btn btn-outline-primary">Libros</button>
          <a href="/"><p >Cuenta</p></a>
          <a href="/"><p>Formas de pago</p></a>
          <a href="/"><p>Guia</p></a>
      </div>
      
  
    <div class="row col-sm-9" style="background-color: lightgrey;">
      <div class="container products-wrapper">
        <div class="row">
          <div class="col-12">
            <h2 class="products-title">Apps</h2>
          </div>

         <%- include('partials/app') %>
         <%- include('partials/app') %>
         <%- include('partials/app') %>
         <%- include('partials/app') %>
         <%- include('partials/app') %>
         <%- include('partials/app') %>
         <%- include('partials/app') %>
         <%- include('partials/app') %>
        </div>
      </div>
      
    </div>
    
  </div>
  

  <%- include('partials/scripts.ejs') %>  
  </body>
</html>
